html,
body,
#app {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
*,a {
  outline: none;
  user-select: none;
  margin-block: 0px;
  margin-inline: 0px;
}
textarea,
p,
input {
  user-select: auto;
}
button, a {
  cursor: pointer;
}