@import 'variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .wf-header {
        @apply bg-blue-800 text-white;
        
        .header {
            @apply flex flex-row justify-between mx-2 md:mx-auto items-center py-2;
            max-width: $pmax-width;

            .brand__group {
                @apply flex flex-row items-center;

                .title {
                    @apply text-4xl md:text-3xl pr-4 font-bold;
                    cursor: pointer;
                }
    
                .search {
                    @apply hidden md:flex md:flex-row md:items-center;
                    
                    input, button, i {
                        @apply mr-2 rounded;
                    }

                    input {
                        @apply px-4 py-2 text-gray-900 text-base bg-blue-50;
                    }

                    button {
                        @apply m-0 p-0;

                        i {
                            @apply hover:bg-white hover:text-blue-800 px-4 py-2 text-base transition;
                        }
                    }
                }
            }

            .main__navi {
                @apply flex flex-row;

                li {

                    i {
                        @apply ml-3 md:ml-1 text-2xl md:text-xl text-blue-100 py-1 px-3 md:px-2 transition rounded hover:bg-blue-100 hover:text-blue-800;
                    }

                    .router-link-active i,.router-link-exact-active i {
                        @apply bg-white text-blue-800;
                    }

                    .menu {


                        .menu-content {
                            @apply hidden absolute m-0 mr-2 md:mr-0 mt-1 right-0 w-screen;
                            
                            .match-width {
                                @apply  mx-auto;
                                max-width: $pmax-width;
                            }

                            .items {
                                @apply flex flex-col bg-white shadow-lg text-gray-900 mr-0 ml-auto rounded;
                                width: 100%;
                                max-width: 250px;
                                
                                .item {
                                    @apply flex flex-row items-center py-2 md:py-1 rounded transition font-semibold;

                                    i { 
                                        @apply mr-2 bg-white text-gray-900;
                                    }

                                    &.router-link-active,&.router-link-exact-active {
                                        @apply text-blue-900 bg-blue-50;

                                        i {
                                            @apply text-blue-900 bg-blue-50;
                                        }
                                    }

                                    &:hover {
                                        @apply text-blue-900 bg-blue-100;

                                        i {
                                            @apply text-blue-900 bg-blue-100;
                                        }
                                    }
                                }
                            }
                        }

                        &[active=true]  {
                            .menu-content {
                                @apply block;
                                animation-name: main__navi_menu-animation;
                                animation-duration: .2s;
                                animation-timing-function:  ease-in-out;
                            }
                            .toggle-menu i {
                                @apply bg-white text-blue-800 ;
                            }
                        }
                    }
                }
            }
        }

    }
    
    .wf-container {
        @apply w-full m-0 md:px-0 px-2;
        
        .main {
            @apply mx-auto w-full;
            max-width: $pmax-width;
        }
    }
}
*,a {
  outline: none;
  user-select: none;
  margin-block: 0px;
  margin-inline: 0px;
}
textarea,
p,
input {
  user-select: auto;
}
button, a {
  cursor: pointer;
}
#app {
    @apply overflow-x-hidden;
}

.lo-default {
    @apply min-h-screen container -mx-0 md:mx-auto flex justify-center items-center;
}
.p-auth {
    @apply flex my-4 flex-col border-0 md:border px-4 md:px-6 py-4 rounded-lg bg-white;

    h1 {
        @apply text-4xl mb-12 md:mb-6 text-center font-semibold font-sans tracking-widest md:tracking-normal;
    }

    form {
        .prompts {

            *[type] {
                @apply flex flex-row justify-between items-center mb-5 rounded bg-gray-50 text-gray-900 border-l-4 px-4 py-2;
                animation-name: promptsin;
                animation-duration: .2s;
        
                i {
                    font-size: 1.5em;
                    margin: 0 .3em 0 1em;
                    background: inherit;
                    border-radius: 50%;
                    transition: .2s;
                    &:hover {
                    opacity: .6;
                    }
                }
            }
            
            *[type="error"]{
                @apply bg-red-100 text-red-900 border-red-600;
            }

            *[type="success"]{
                @apply bg-green-100 text-green-900 border-green-600;
            }
    
    
            *[type].out {
              @apply hidden;
            }
    
          }

        .inputs {
            @apply flex flex-col;
        
            & > div {
                @apply flex flex-col mb-5;

                label {
                    @apply text-sm md:text-xs font-semibold pb-1;
                }
                input {
                    @apply text-base md:text-sm px-4 py-2 rounded border-solid border;
                }
                
                *[type=submit]{
                    @apply text-base md:text-sm mt-4 px-4 py-2 rounded bg-blue-800 hover:bg-blue-900 transition text-blue-50;
                }
            }
        }
    }
    hr {
        @apply mb-4;
    }
    .notes {
        @apply text-center text-base md:text-sm mx-4;
    }
    a {
        @apply text-blue-500 hover:text-blue-800;
    }
}

#header {
    @apply sticky top-0 left-0;

    header[lo-user] {
        @apply wf-header;
    }
}

.lo-user-container {
    @apply wf-container;
}
@keyframes promptsin {
    from {
      margin-bottom: 0;
      opacity: 0;
    }
    to {
      margin-bottom: 1em;
      opacity: 1;
    }
}
@keyframes main__navi_menu-animation {
    from {
        margin-top: -1em;
        @apply opacity-0;
    }
    to {
        @apply mt-1 opacity-100;
    }
}