html,
body,
#app {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  background:  #fff;
  max-height: 100vh;
  overflow-y: hidden;
}
* {
  outline: none;
  user-select: none;
  margin-block: 0px;
  margin-inline: 0px;
}
textarea,
p,
input {
  user-select: auto;
}
button, a {
  cursor: pointer;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}