@import 'variables';

.lo-settings {
    display: flex;
    max-height: $height;
    overflow-y: hidden;

    .left-nav {
        min-width: 20vw;
        max-width: 300px;
        max-height: $height;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 1em;

        a {
            background: #fff;
            padding: 1em;
            border-radius: 3px;
            font-size: 1em;
            text-decoration: none;
            font-weight: bold;
            color: #333;
            font-family: 'Open Sans', sans-serif;


            &:hover {
                background:  #f6f4ef;
            }

            &.router-link-active {
                background: #ccc;
            }

        }
    }

    .main {
        flex: 1;
        padding: 1em;
        max-height: $height;
        overflow-y: auto;
        text-align: left;
    }
}